html, body{
  height: 100%;
}

main {
  font-family: "Open Sans", arial, sans-serif;
  min-height: 75%;
}
.main:after {
  content: "";
  display: block;
}

.heading {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    url("../../assets/img/career.jpg");
    padding: 6rem 0;
}

@media only screen and (max-width: 768px) {
  .heading h1 {
    font-size: 1.8rem;
    margin: 0;
  }

  .heading a {
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    padding: 0.5rem 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .heading h1 {
    font-size: 3rem;
  }
}
