main,
footer {
  text-align: center;
  margin-top: var(--header-height);
  font-size: calc(15px + 0.390625vw);
  font-family: "Open Sans", arial, sans-serif;
}

.heading {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.86) 0%,
      rgba(0, 0, 0, 0.86) 100%
    ),
    url("../img/logo.png");
  background-position: center;
  background-size: cover;
  padding: 6vw 2vw 8vw 2vw;
  margin: var(--header-height) 0 0 0;
}

.heading h1 {
  font-family: "Times New Roman", Times, serif;
  margin: 1rem 0 0 0;
}

.heading p {
  font-size: 1.8rem;
}

.heading a {
  border: 0;
  padding: 1rem 4rem;
  color: white;
  font-weight: 900;
  background-color: rgb(64, 64, 64);
  font-family: "Times New Roman", Times, serif;
}

.heading a:hover {
  cursor: pointer;
}

#philosophy {
  width: 47.5%;
}

#mission {
  width: 47.5%;
}

.philosophy-mission {
  display: flex;
  flex-direction: row;
  margin: 0 2rem 0 2rem;
}

.philosophy-mission h4 {
  margin: 2rem;
  font-weight: 500;
}

.philosophy-mission p {
  color: rgb(92, 92, 92);
}

.heading-2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.4rem;
  color: rgb(92, 92, 92);
  margin: 2rem 0;
}

/* --------------- */

.video-container {
  margin: 0 100px 50px 100px;
}

.finished-project-heading-video {
  height: 60vh;
  padding: 0 100px;
}

.video-item {
  width: 47.5%;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-item-L {
  float: left;
}

.video-item-R {
  float: right;
}

.content-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0 20px;
}

.seperator-L {
  width: 5%;
  float: left;
  background-color: black;
}
.seperator-R {
  width: 5%;
  float: right;
  background-color: black;
}

.video-content {
  float: none;
}

/* slider */

* {
  box-sizing: border-box;
}
.slideshow-container {
  font-family: Verdana, sans-serif;
}

/* Slideshow container */
.slideshow-container {
  width: 90%;
  position: relative;
  margin: 0 auto;
}
.mySlides {
  position: relative;
  width: 100%;
  height: 37vw;
}
.mySlides > img {
  height: 100%;
  max-width: 100%;
  /* max-height: 100%; */
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:active,
.next:active {
  /* background-color: #bbb; */
  color: black;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: calc(3px + 0.390625vw);
  width: calc(3px + 0.390625vw);
  margin: 0 calc(1px + 0.390625vw);
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:active {
  background-color: #bbb;
  height: calc(13px + 0.390625vw);
  width: calc(13px + 0.390625vw);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-reviews {
  width: 100%;
  height: 33vw;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.86) 0%,
      rgba(0, 0, 0, 0.86) 100%
    ),
    url("../img/logo.png");
  background-position: center;
  background-size: cover;
  padding: 2rem 0;
  overflow: hidden;
}

.google-reviews > .heading-2 {
  color: white;
  margin: 0 0 2rem 0;
}

.google-reviews > #reviews-widget {
  width: 91%;
  overflow: auto;
  height: 85%;
  margin: 0 auto;
}

.sk_branding {
  height: 0 !important;
  padding: 0 !important;
}

.video-item > h4 {
  font-weight: 400;
}

#message-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  background: white;
  color: black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 860px) {
  .heading {
    padding: 4rem 1.5rem 4rem 1.5rem;
  }

  .heading h1 {
    font-size: 1.8rem;
    margin: 0;
  }

  .heading p {
    font-size: 1.2rem;
    margin: 0.6rem;
  }
  .heading-2 {
    font-size: 1.8rem;
  }

  .heading a {
    font-size: 0.8rem;
    font-weight: 700;
    /* width: 100%; */
  }

  .philosophy-mission {
    margin: 0 1.9rem 0 1.9rem;
    flex-direction: column;
  }

  .video-container {
    margin: 1rem;
    height: 30vh;
  }

  .video-item,
  .seperator {
    float: none;
    width: 100%;
    height: auto;
  }

  .video-item-R,
  .video-item-L {
    height: 80%;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 1rem;
    padding: 0;
  }

  .philosophy-mission {
    flex-direction: column;
    margin: 0 1rem 0 1rem;
  }
  #mission {
    width: 100%;
  }

  #philosophy {
    width: 100%;
  }
  .finished-project-heading-video {
    height: 25vh !important;
    padding: 0 1rem !important;
  }
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
  .slideshow-container {
    position: relative;
    width: 100%;
    height: 52vw;
  }
  .mySlides {
    height: 100%;
  }

  .text {
    bottom: 0;
  }

  .google-reviews {
    height: 55vh;
  }
}

@media only screen and (min-width: 768px) {
  .heading {
    padding: 6rem 1.5rem;
  }

  .heading h1 {
    font-size: 2.6rem;
  }

  .heading p {
    font-size: 1.7rem;
    margin: 1.3rem 0 1.3rem 0;
  }

  .heading a {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 992px) {
  .heading h1 {
    font-size: 3.5rem;
  }

  .heading p {
    font-size: 1.8rem;
    margin: 20px 0 20px 0;
  }

  .heading a {
    font-size: 1rem;
  }

  .philosophy-mission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem 0 2rem;
  }
}

/* mobile */
@media only screen and (max-height: 500px) {
  .video-container,
  .finished-project-heading-video,
  .google-reviews {
    height: 58vh !important;
  }
}
@media only screen and (max-height: 400px) {
  .video-container,
  .finished-project-heading-video,
  .google-reviews {
    height: 60vh !important;
  }
}
@media only screen and (max-height: 400px) and (min-width: 768px) {
  .video-container,
  .finished-project-heading-video,
  .google-reviews {
    height: 85vh !important;
  }
}

@media only screen and (max-height: 500px) and (min-width: 768px) {
  .video-container,
  .finished-project-heading-video,
  .google-reviews {
    height: 80vh !important;
  }
  .video-container {
    margin: 1rem;
    height: 30vh;
  }

  .video-item,
  .seperator {
    float: none;
    width: 100%;
    height: auto;
  }

  .video-item-R,
  .video-item-L {
    height: 80%;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .heading {
    padding: 9rem 1.5rem;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1580px) {
  .mySlides {
    height: 50vw;
  }
  .video-item {
    height: 336px;
  }
}

@media screen and (min-width: 1536px) {
  .mySlides {
    height: 40vw;
  }
  .heading p {
    font-size: 2.8rem;
  }
  .heading a {
    font-size: 2rem;
  }
  .heading h1 {
    font-size: 4.5rem;
  }
  .video-item {
    height: 336px;
  }
}
